<p>this is the albums page</p>

<div class="card">
{{#results}}
    <img src="{{images.url}}" alt="artist">
    <p>{{name}}</p>
    <a href="/tracks/{{id}}">View Tracks</a>
{{/results}}
</div>
