<button onclick="window.location.href = '/';">Back to search</button>
<div class="card">
{{#results}}
<div class="results">
    <img src="{{images.url}}" alt="artist">
    <p class="artist-name">{{name}}</p>
    <a class="button" href="/albums/{{id}}">View Albums</a>
</div>
{{/results}}
</div>
