
<div class="album-priview">
    <button onclick="window.window.history.back();"> Back to albums</button>
    <div class="header">
        <h2>Track</h2>
        <h1>Album: {{album}}</h1>
        <h2>Privew</h2>
    </div>
    {{#results}}
    <div class="tracks">
        <div class="number-name">
            <p class="track-number">{{track_number}}.</p>
            <p>{{name}}</p>
        </div>
        <audio controls
        src ="{{preview_url}}" type="audio">
        </audio>
    </div>
{{/results}}
</div>
