* {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.5;
}

body {
    box-sizing: border-box;
    margin: 0;
    background-color: #91a1a9;
}

/* home page: search artist */

.container {
    background-image: url(/images/spotify-background.jpeg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.form {
    position: fixed;
    width: 30%;
    padding: 20px;
    left: 50%;
    top: 50%;
    background: #f0f8ffc9;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, -50%);
}

input {
  width: 50%;
  font-size: 1rem;
}

.submit-button {
    background: #4E9CAF;
    padding: 4px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
 .error {
     font-size: medium;
     color: red;
 }

/* Artists results page */

.card {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 100%;
}

.results {
    max-width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: #e7f0f5cc;
    border: black 10px solid;
    margin: 40px;
    justify-content: space-around;
    box-shadow: 0 1px 15px rgb(0, 0, 3), 0 10px 3px 1px rgba(4, 5, 6, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1); */
}

img {
    height: 300px;
    width: 300px;
}

.artist-name {
    background: #ffffff00;
    padding: 7px;
    text-align: center;
    margin: 0;
}

.button {
    display: block;
    width: fit-content;
    height: fit-content;
    background: #4E9CAF;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

/* Albums priview page */

.header {
  background: black;
  color: white;
  display: flex;
  justify-content: space-around;
}

.album-priview {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.tracks {
    display: flex;
    font-size: xx-large;
    flex-flow: row;
    place-content: space-between;
    align-items: center;
    margin-right: 2%;
    margin-left: 2%;
    padding: 10px;
    border: solid 3px black;
    border-radius: 60px;
}

.number-name {
    display: flex;
}

.track-number {
    margin-right: 5px;
}

button {
    background: #db5a5a;
    width: -webkit-fill-available;
    padding: 4px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
/* extras */

img:hover {
    color: lightgrey;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}

/* mobile view */

@media screen and (max-width: 480px) {

    img {
        height: 150px;
        width: 150px;
    }

    .button {
        font-size: small;
    }

    .tracks {
        font-size: small;
    }

    .number-name {
        width: -webkit-fill-available;
    }

    audio {
        width: 177px;
        height: 30px;
    }
}
